body {
  background: #e48900;
  font-family: georgia,serif;
  font-weight: 400;
  font-size: 12px;
  word-wrap: break-word;
}

.social-links {
  color: black;
  padding: 10px;
}

.social-links:hover {
  color: #beca5c;
}

.img-circular {
  border-radius: 50%;
  vertical-align: middle;
  border: 5px solid #2b2e4a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 160px;
  height: 160px;
}

.img-bob {
  border-radius: 5%;
  margin-top: 16px;
  vertical-align: right;
  border: 5px solid #96bb7c;
  display: inline-block;
  width: 50%;
  width: 160px;
  height: 160px;
}

.content {
  line-height: 2.5rem;
}

h2 {
  text-align: center;
  font-size: 24px;
}

.redtext {
  font-weight: bold;
  color: #F00;
}

.clarettext {
  font-weight: bold;
  color: #7f1734;
}

.bluetext {
  font-weight: bold;
  color: #8ac4d0;
}
