<h1>Josh
  <a class="social-links" href="https://github.com/joshwbarnes">GitHub</a>
  <a class="social-links" href="https://www.linkedin.com/in/josh-barnes-8b436058/">LinkedIn</a>
</h1>
<%= image_tag "profile_img.jpeg", class: "img-circular", alt: "alttext" %>
<h2>Hi I'm Josh, a recruiter learning how to do some coding.</h2>
