<p><%= Time.now %></p>
<div>
  <h1>Josh
    <a class="social-links" href="https://github.com/joshwbarnes">GitHub</a>
    <a class="social-links" href="https://www.linkedin.com/in/josh-barnes-8b436058/">LinkedIn</a>
    <a class="social-links" href="">Projects</a>
  </h1>
</div>
<%= image_tag "profile_img.jpeg", class: "img-circular", alt: "alttext" %>
<div class="content">
  <h2>
    Hi I'm Josh, a recruiter learning how to do some coding.<br>
    I live in <span class="redtext"><a>Melbourne.</a></span><br>
    I support <span class="clarettext"><a>West </a></span><span class="bluetext"><a>Ham.</a></span><br>
    This is my dog Bobby ↗︎ <%= image_tag "bob_img.JPG", class: "img-bob", alt: "alttext" %>

  </h2>
</div>
